*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to top right ,rgba(0, 0, 0, 0.798),rgba(37, 23, 38, 0.723)),url(./nileane--TxL1NXXvoM-unsplash.jpg);
    background-size: 100% 100%;
}
.piano-div{
    box-shadow: 0px 0px 30px rgb(0, 102, 255);
}
.piano-div>.keys{
    border: 1px solid rgb(25, 216, 41);
    width: 12%;
    background: #dddddd;
    transition: all 0.2s linear;
    box-shadow: 0px 0px 30px greenyellow;
}
.black-sting{
    transition: all 0.3s linear;
}

.press{
    background: #a7a7a7 !important;
}
.black-press{
    /* z-index: 20 !important;  */
    /* position: absolute !important; */
     background: rgb(77, 77, 77) !important;
}

